<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{ page.title }} - GSOC 2012</title>
		<link rel="stylesheet" href="/{{ site.baseurl }}/assets/css/main.css">
	</head>
	<body>
		<div id="header">
			<h2><a href="/{{ site.baseurl }}">GSOC 2012</a></h2>
			<ul>
				<li><a href="/{{ site.baseurl }}/about.html">About</a></li>
				<li><a href="/{{ site.baseurl }}/timeline.html">Timeline</a></li>
				<li><a href="/{{ site.baseurl }}/links.html">Links</a></li>
			</ul>
		</div>
		<div id="content">
			{{ content }}
		</div>
	</body>
</html>